@model ITP1.Models.KorisnikProfil
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="thumbnail col-sm-10 col-sm-offset-1 col-xs-12">
        <div>
            <form asp-action="Edit" enctype="multipart/form-data" asp-route-id="@Model.Id">
                <div class="row">
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ImgFile)
                    @Html.HiddenFor(model => model.CurrentUserId)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-offset-1" style="margin-left:6%;">
                            <div style="display:inline">
                                <h2 style="margin-right:4px;display:inline">
                                    <i class="fas fa-star fa-lg" style="color:#FFDF00;vertical-align:-.27em"></i>
                                </h2>
                            </div>
                            <div style="display:inline">
                                <h2 style="display:inline">@Model.ProsjecnaOcjena</h2>
                                <h4 style="display:inline">/5</h4>
                                <h5 style="margin-left:60px; margin-top:-3px;">@Model.BrojOcjena</h5>
                            </div>            
                            <div class="container" style="margin-top:15px;">
                                <div class="col-md-3">
                                    @if (Model.AvatarImgUrl == null)
                                    {
                                        <img id="myImg" src="~/images/defaultUser.png" alt="Unable to load image" class="" style="border-radius:100%; object-fit:cover; height:200px;width:200px;" />
                                    }
                                    else
                                    {
                                        <img id="myImg" src="@Model.AvatarImgUrl" alt="Unable to load image" class="" style="border-radius:100%; object-fit:cover; height:200px;width:200px;" />
                                    }

                                </div>
                                <ul class="nav nav-tabs form-group col-md-4">
                                    <li><a data-toggle="tab" href="#nekretnine">Nekretnine</a></li>
                                    <li><a data-toggle="tab" href="#utisci">Utisci</a></li>
                                    <li class="active"><a data-toggle="tab" href="#profil">Uredi profil</a></li>
                                </ul>
                                <div class="tab-content  form-group col-md-6" style="border:1px solid #DFD2D2;">
                                    <div id="nekretnine" class="tab-pane fade">
                                        <h3>Moje ponude</h3>
                                        @for(int i = 0; i < Model.NekretninaItems.Count; i++)
                                        {
                                        <div style="border-style: outset; padding:10px; border-color:aquamarine; margin:5px;">
                                            <a asp-controller="Nekretnine" asp-action="DeleteNekretnina" asp-route-id="@Model.NekretninaItems.ElementAt(i).Id" class="btn btn-danger" style="float:right;">Izbriši</a>
                                          
                                            <h3 style="text-align:center;">@Model.NekretninaItems.ElementAt(i).Naslov</h3>
                                            <div style="display:inline-block;">
                                                @if (Model.NekretninaItems.ElementAt(i).CoverImgUrl == null)
                                                {
                                                    <img src="~/images/randHouse.jpg" style="width:220px;height:150px; margin-bottom:12px;" />
                                                }
                                                else
                                                {
                                                    <img src="@Model.NekretninaItems.ElementAt(i).CoverImgUrl" style="width:220px;height:150px;margin-bottom:12px;" />
                                                }
                                              <br />  @Model.NekretninaItems.ElementAt(i).Tip.ImeTipa
                                            </div>
                                            <div style="display:inline-block;">
                                                <p>
                                                    Dostupno od
                                                    @if (Model.NekretninaItems.ElementAt(i).DostupnoOd == DateTime.MinValue)
                                                    {
                                                        <span>[-]</span>
                                                    }
                                                    else
                                                    {
                                                        @Model.NekretninaItems.ElementAt(i).DostupnoOd
                                                    }
                                                    &nbsp;
                                                    do
                                                    &nbsp;
                                                    @if (Model.NekretninaItems.ElementAt(i).DostupnoDo == DateTime.MaxValue)
                                                    {
                                                        <span>[-]</span>
                                                    }
                                                    else
                                                    {
                                                        @Model.NekretninaItems.ElementAt(i).DostupnoDo
                                                    }
                                                </p>
                                                <p>
                                                    Cijena @Model.NekretninaItems.ElementAt(i).Cijena KM <br /> @Model.NekretninaItems.ElementAt(i).NacinIznajmljivanja.Naziv
                                                </p>

                                                <a asp-controller="Nekretnine" asp-action="Edit" asp-route-id="@Model.NekretninaItems.ElementAt(i).Id" class="btn btn-default">Izmijeni</a>
                                                <a asp-controller="Nekretnine" asp-action="Details" asp-route-id="@Model.NekretninaItems.ElementAt(i).Id" class="btn btn-info">Detalji</a>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    <div id="utisci" class="tab-pane fade">
                                        <h3>Utisci</h3>
                                        <div>
                                            @for (int i = 0; i < Model.Utisci.Count; i++)
                                            {
                                                <div style="border:1px solid #DFD2D2; padding:25px;">
                                                    <p>
                                                        @if (Model.Utisci.ElementAt(i).Korisnik.AvatarImgUrl == null)
                                                        {
                                                            <img id="myImg" src="~/images/defaultUser.png" alt="Unable to load image" class="" style="border-radius:100%; object-fit:cover; height:30px;width:30px;" />
                                                        }
                                                        else
                                                        {
                                                            <img id="myImg" src="@Model.Utisci.ElementAt(i).Korisnik.AvatarImgUrl" alt="Unable to load image" class="" style="border-radius:100%; object-fit:cover; height:30px;width:30px;" />
                                                        }
                                                        @if (string.IsNullOrWhiteSpace(Model.Utisci.ElementAt(i).Korisnik.Ime))
                                                        {
                                                            <span>Nepoznati korisnik</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.Utisci.ElementAt(i).Korisnik.Ime
                                                        }
                                                        <span class="pull-right">
                                                            @for (int j = 0; j < Model.Utisci.ElementAt(i).Ocjena; j++)
                                                            {
                                                                <i class="fas fa-star fa-sm" style="color:#FFDF00;"></i>

                                                            }
                                                        </span>
                                                    </p>

                                                    <p>@Model.Utisci.ElementAt(i).Komentar</p>

                                                </div>

                                            }
                                        </div>
                                        <br />
                                    </div>
                                    <div id="profil" class="tab-pane fade in active">
                                        <div class="" style="margin-top:10px;">
                                            <div class="form-group">
                                                <span style="font-size:15px">
                                                    <label asp-for="Ime" class="control-label"></label>
                                                </span>
                                                <input asp-for="Ime" id="name-input" class="form-control" style="font-size:17px" required />
                                                <span asp-validation-for="Ime" class="text-danger"></span>
                                            </div><br />
                                            <h3>Kontakt</h3>
                                            <div class="table-bordered" style="padding:15px">
                                                <div class="form-group">
                                                    <span style="font-size:15px">
                                                        <i class="fas fa-phone"></i>
                                                        <label asp-for="Tel" class="control-label"></label>
                                                    </span>
                                                    <input asp-for="Tel" class="form-control" style="font-size:15px" />
                                                    <span asp-validation-for="Tel" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <span style="font-size:15px">
                                                        <i class="fas fa-envelope"></i>
                                                        <label asp-for="Mail" class="control-label"></label>
                                                    </span>
                                                    <input asp-for="Mail" type="email" class="form-control" style="font-size:15px" />
                                                    <span asp-validation-for="Mail" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <span style="font-size:15px">
                                                        <i class="fa fa-globe"></i>
                                                        <label asp-for="WebKontaktUrl" class="control-label"></label>
                                                    </span>
                                                    <input asp-for="WebKontaktUrl" class="form-control" style="font-size:15px" />
                                                    <span asp-validation-for="WebKontaktUrl" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top:10px;">
                                            <a href="#" class="btn btn-info"><label for="img-input">Promijeni sliku</label></a>
                                            <input style="visibility:hidden" id="img-input" type="file" asp-for="ImgFile" accept="image/gif, image/jpeg, image/png" class="input-group" onchange="readURL(this);" /><br />
                                        </div>
                                        <div class="form-group col-sm-4 pull-right">
                                            <input type="submit" value="Sačuvaj" class="custom-btn offset" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <br/>                
            </form>
        </div>
    </div>
</div>
<br /><br />
      <script src="~/js/avatar-img.js"></script>


