@model ITP1.Models.PocetnaModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/offcanvas.css" rel="stylesheet" />
<link href="~/css/sitestyle.css" rel="stylesheet" />

<div class="container">
    <div class="row row-offcanvas row-offcanvas-left" style="margin-top:-37px;">
        <form asp-controller="Home" asp-action="Index" method="get" id="formIndex" class="form-horizontal">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" style="background-color:#F5F5F5;border-right:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD;">
                <br />
                <h4>&nbsp;&nbsp;<a asp-controller="Nekretnine" asp-action="MapView" class="text-warning"><i class="fa fa-map"></i>&nbsp;Prikaz na mapi</a></h4>
                <br />
                <div class="orange-line"></div>
                <input asp-for="@Model.CurrPage" id="CurrPage" type="hidden" />

                <div class="container" style="padding:unset">
                    <br />
                    <div style="padding-left:1%">
                        <h4 style="color:#FFA260"><strong>Tip</strong></h4>
                    </div>

                    @for (int i = 0; i < Model.SviTipovi.Count; i++)
                    {
                        <div class="col-sm-4 col-xs-12" style="padding-left:4%">
                            <a class=" kuca" style="color:#79A736;" href="#">
                                <label class="form-check-label" asp-for="@Model.SviTipovi[i].Selected" style="text-decoration:none;cursor:pointer">
                                    @{ var clsName = Model.SviTipovi[i].Id + "tip";}
                                    <input type="checkbox" asp-for="@Model.SviTipovi[i].Selected" hidden class="@clsName" onchange="changeActiveCheckBox(this);" onload="changeActiveCheckBox(this);" onloadstart="changeActiveCheckBox(this);" />
                                    @{ var klasa = "fa-square";
                                        if (Model.SviTipovi[i].Selected)
                                        {
                                            klasa = "fa-check-square";
                                        }

                                    }
                                    <i class="far @klasa" name="@clsName"></i>
                                    &nbsp;@Model.SviTipovi[i].ImeTipa
                                </label>
                                <input type="hidden" asp-for="@Model.SviTipovi[i].Id" />
                                <input type="hidden" asp-for="@Model.SviTipovi[i].ImeTipa" />
                            </a>

                        </div>
                        <div class="col-sm-12"></div>
                    }
                </div>
                <br />
                <div class="orange-line"></div>
                <div class="container" style="padding:unset">
                    <br />
                    <div style="padding-left:1%">
                        <h4 style="color:#FFA260"><strong>Cijena</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 " style="padding-left:2%;">
                            <span style="color:#79A736;font-size:12px;">
                                BAM&nbsp;<input class="form-control input-sm" style="width:80px; display:inline;margin-bottom:10px;" type="number" asp-for="@Model.Filter.CijenaMin" />&nbsp;
                                <span style="font-weight:bold">-</span>
                                &nbsp;BAM&nbsp;<input class="form-control input-sm" style="width:80px;display:inline" type="number" asp-for="@Model.Filter.CijenaMax" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="container" style="padding:unset">
                    <br />
                    <div style="padding-left:1%">
                        <h4 style="color:#FFA260"><strong>Iznajmljivanje</strong></h4>
                    </div>
                    @for (int i = 0; i < Model.NaciniIznajmljivanja.Count; i++)
                    {
                        <div class="col-sm-4 col-xs-12" style="padding-left:4%">
                            <a class=" kuca" style="color:#79A736;" href="#">
                                <label class="form-check-label" asp-for="@Model.NaciniIznajmljivanja[i].Selected" style="text-decoration:none;cursor:pointer">
                                    @{ var clsName = Model.NaciniIznajmljivanja[i].Id + "nacinIzn";}
                                    <input type="checkbox" asp-for="@Model.NaciniIznajmljivanja[i].Selected" hidden class="@clsName" onchange="changeActiveCheckBox(this);" />
                                    @{ var klasa = "fa-square";
                                        if (Model.NaciniIznajmljivanja[i].Selected)
                                        {
                                            klasa = "fa-check-square";
                                        }

                                    }
                                    <i class="far @klasa" name="@clsName"></i>
                                    &nbsp;@Model.NaciniIznajmljivanja[i].Naziv
                                </label>
                                <input type="hidden" asp-for="@Model.NaciniIznajmljivanja[i].Id" />
                                <input type="hidden" asp-for="@Model.NaciniIznajmljivanja[i].Naziv" />
                            </a>

                        </div>
                        <div class="col-sm-12"></div>
                    }

                    <div class="col-sm-12"></div>

                </div>
                <br />
                <div class="orange-line"></div>
                <div class="container" style="padding:unset">
                    <br />
                    <div style="padding-left:1%">
                        <h4 style="color:#FFA260"><strong>Površina</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 " style="padding-left:2%;">
                            <span style="color:#79A736;font-size:12px;">
                                &nbsp;&nbsp;
                                <span style="font-weight:bold;">
                                    m<sup>2</sup>
                                </span>
                                <input class="form-control input-sm" style="width:80px; display:inline;margin-bottom:10px;" type="number" asp-for="@Model.Filter.PovrsinaMin" />&nbsp;
                                &nbsp;&nbsp;<span style="font-weight:bold">-</span>
                                &nbsp;&nbsp;

                                <span style="font-weight:bold;">
                                    m<sup>2</sup>
                                </span>
                                <input class="form-control input-sm" style="width:80px;display:inline" type="number" asp-for="@Model.Filter.PovrsinaMax" />
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="orange-line"></div>
                <div class="container" style="padding:unset">
                    <br />
                    <div style="padding-left:1%">
                        <h4 style="color:#FFA260"><strong>Dostupno</strong></h4>
                    </div>

                    <div class="row">
                        <h5 class="pull-left" style="color:#FFA260; display:inline; margin-right:20px; margin-left:20px;"><strong>Od</strong></h5>
                        <div class='col-sm-2 col-xs-11'>
                            <div class="form-group">
                                @*datetimepicker1 je klasa za lokalizaciju*@
                                <div class='input-group date datetimepicker1'>
                                    <span class="input-group-addon input-sm">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type='text' class="form-control input-sm" asp-for="@Model.Filter.DostupnoOdString" onkeydown="return false" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="pull-left" style="color:#FFA260; display:inline; margin-right:20px; margin-left:20px;"><strong>Do</strong></h5>
                        <div class='col-sm-2 col-xs-11'>
                            <div class="form-group">
                                @*datetimepicker1 je klasa za lokalizaciju*@
                                <div class='input-group date datetimepicker1'>
                                    <span class="input-group-addon input-sm">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type='text' class="form-control input-sm" asp-for="@Model.Filter.DostupnoDoString" onkeydown="return false" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="orange-line"></div>

                <br />
                <div class="form-group col-sm-5 col-xs-12">
                    <input type="submit" onclick="resetPager()" style="font-weight:bold" value="Pretraži >" class="custom-btn up" />
                </div>
                <br /><br /><br /><br />
                <div class="orange-line"></div>

                <br /><br /><br />

            </div>

            <!--Search bar-->
            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                <br />
                <div class="row" style="margin-left:10px">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Pretraga" asp-for="@Model.SearchString" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" onclick="document.getElementById('formIndex').submit()">
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
            <p class="pull-left visible-xs" style="margin-top:8px;margin-left:-10px;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="offcanvas"><i class="fas fa-filter"></i></button>
            </p>



            <!--Ovdje tijelo-->

            <div class="canvas-body" style="width:100%; margin-top:40px; margin-left:0%;">

                <!--Ovdje element nekretnina-->
                @for (int i = 0; i < Model.Nekretnine.Count(); i++)
                {
                    <div class="container-fluid">
                        <div class="row overflow-hidden thumbnail flex-sm">
                            <div class="col-sm-4 col-xs-9">
                                @if (Model.Nekretnine.ElementAt(i).CoverImgUrl == null)
                                {
                                    <img src="~/images/randHouse.jpg" style="width:220px;height:150px; margin-bottom:12px;" />
                                }
                                else
                                {
                                    <img src="@Model.Nekretnine.ElementAt(i).CoverImgUrl" style="width:220px;height:150px;margin-bottom:12px;" />
                                }
                                <h6>
                                    @Model.Nekretnine.ElementAt(i).Tip.ImeTipa
                                </h6>
                            </div>
                            <div class="col-sm-5 col-xs-9 grey-border-lg-screen">
                                <h4 style="margin-top:5px;">@Model.Nekretnine.ElementAt(i).Naslov</h4>
                                <h6 style="color:darkgray"><i class="fa fa-map-marker"></i>&nbsp;@Model.Nekretnine.ElementAt(i).Lokacija</h6>

                                <br />
                                <span style="font-size:12px;">Dostupno od</span><br />
                                <div class='input-group date datetimepicker1'>
                                    <span class="input-group-addon input-sm">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @if (Model.Nekretnine.ElementAt(i).DostupnoOd == DateTime.MinValue)
                                    {
                                        <input readonly type='text' class="form-control input-sm" value="" style="width:125px;font-size:11px;" />
                                    }
                                    else
                                    {
                                        <input readonly type='text' class="form-control input-sm" asp-for="@Model.Nekretnine.ElementAt(i).DostupnoOd" style="width:125px;font-size:11px;" />
                                    }
                                </div>
                                <span style="font-size:12px;">do</span><br />
                                <div class='input-group date datetimepicker1' style="margin-bottom:20px;">
                                    <span class="input-group-addon input-sm">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @if (Model.Nekretnine.ElementAt(i).DostupnoDo == DateTime.MaxValue)
                                    {
                                        <input readonly type='text' class="form-control input-sm" value="" style="width:125px;font-size:11px;" />
                                    }
                                    else
                                    {
                                        <input readonly type='text' class="form-control input-sm" asp-for="@Model.Nekretnine.ElementAt(i).DostupnoDo" style="width:125px;font-size:11px;" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align:center; color:seagreen">
                                <h4 style="margin-bottom:3px">BAM&nbsp;&nbsp;@Model.Nekretnine.ElementAt(i).Cijena</h4>
                                <sup style="color:darkseagreen">@Model.Nekretnine.ElementAt(i).NacinIznajmljivanja.Naziv</sup>
                                <h4 style="margin-top:4px;">m<sup>2</sup>&nbsp;&nbsp;@Model.Nekretnine.ElementAt(i).Povrsina</h4>
                                <br /><br />
                                <a asp-controller="Nekretnine" asp-action="Details" asp-route-id="@Model.Nekretnine.ElementAt(i).Id" class="btn custom-btn fill" style="width:65%;height:38px; line-height:10px; border-radius:0">Više</a>
                            </div>
                        </div>
                    </div>
                }



                <!-- pager -->
                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li>
                                    <a href="#" onclick="goToFirst()">Prva</a>
                                </li>
                                <li>
                                    <a href="#" onclick="goToPrevious()">Prethodna</a>
                                </li>
                            }

                            @for (var pagee = Model.Pager.StartPage; pagee <= Model.Pager.EndPage; pagee++)
                            {
                                <li class="@(pagee == Model.Pager.CurrentPage ? "active" : "") hidden-sm hidden-xs">
                                    <a href="#" onclick="goToPage(@pagee)">@pagee</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li>
                                    <a href="#" onclick="goToNext()">Sledeća</a>
                                </li>
                                <li>
                                    <a href="#" onclick="goToLast()">Posljednja</a>
                                </li>
                            }
                        </ul>
                    }
                </div>


            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/offcanvas.js"></script>
<script src="~/js/checkbtns.js"></script>
@*Ovo mora ovdje jer pristupa modelu...*@
<script>
    function resetPager() {
                document.getElementById("CurrPage").value = 0;
    }
    function goToNext() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage+1;
        document.getElementById("formIndex").submit();
    }
    function goToPrevious() {
        document.getElementById("CurrPage").value = @Model.Pager.CurrentPage-1;
        document.getElementById("formIndex").submit();
    }
    function goToFirst() {
        document.getElementById("CurrPage").value = 1;
        document.getElementById("formIndex").submit();
    }
    function goToLast() {
        document.getElementById("CurrPage").value = @Model.Pager.TotalPages;
        document.getElementById("formIndex").submit();
    }
    function goToPage(pagee) {
        document.getElementById("CurrPage").value = pagee;
        document.getElementById("formIndex").submit();
    }
</script>